<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload="document.autoshowInventory.submit()">
    <form action="/read/inventory-read" name="autoshowInventory">
      <input type="hidden"/>
    </form>
  </body>
</html>