<!DOCTYPE html>
<html>
  <head>
    <title>Delete Inventory Item</title>
  </head>
  <body>
    <h1>Delete Inventory Item</h1>
    <form action="/delete" method="POST">
        Part ID: <br>
        <input type="text" name="partID"><br>
        <input type="submit" value="Delete">
  </form>
  </body>
</html>
