<!DOCTYPE html>
<html>
  <head>
    <title>Seach for Parts</title>
    <link href="/stylesheets/search.css" rel="stylesheet">
  </head>
  <body>
    <div id="main-container">
    <h1>Search Parts</h1>
    <div>
        <form action="/search" method="POST">
            <label for="choice">Choose search parameter:</label>
            <select class="choice" name="choice">
              <option value="partID">Part ID</option>
              <option value="partName">Part Name</option>
              <option value="priceAbove">Parts Priced Above ... </option>
              <option value="priceBelow">Parts Priced Below ... </option>
              <option value="partType">Part Type</option>
            </select>
                <form>
                    <input type="text" name="param">
                    <input class="option-Btn" type="submit" value="Search">
                </form>
          </form>
    </div>
    </div>
  </body>
</html>
