<!DOCTYPE html>
<html>
  <head>
    <title>Seach for Parts</title>
  </head>
  <body>
    <h1>Search Parts</h1>
    <div>
        <form action="/search" method="POST">
            <label for="choice">Choose search parameter:</label>
            <select id="choice" name="choice">
              <option value="ID">Part ID</option>
              <option value="Name">Part Name</option>
              <option value="Price">Part Price</option>
            </select>
                <form>
                    <input type="text" name="data">
                    <input type="submit" value="Search">
                </form>
          </form>
    </div>
    <script>

    </script>
  </body>
</html>
