<!DOCTYPE html>
<html>
  <head>
    <title>Edit Part</title>
  </head>
  <body>
    <h1>Edit Part</h1>
    <form action="/update" method="POST">
        Part ID: <br>
        <input type="text" name="partID" value="<%=currentpartID %>" readonly><br>
        Part Name: <br>
        <input type="text" name="partName" value="<%=currentpartName %>"><br>
        Part Price: <br>
        <input type="text" name="price" value="<%=currentpartPrice %>"><br><br>
        <input type="submit" value="Update">
  </form>
  </body>
</html>
